.colorawe {
  background: url(../images/colorawe-bg.png) no-repeat;
}
.name {
  color: white;
}
.nike-dr {
  color: #fff;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.descr-info {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buy-btn {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background: #8e32c6;
  border: none;
}
.buy-btn {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
