.colorawe {
  background-image: url(../images/colorawe-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 94px 0 183px 0;
  height: 858px;
}
.name {
  color: #fff;
  font-family: Playfair Display;
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.colorawe_logo {
    width: 178px;
    height: 86px;
    position: relative;
}
.nike-dr {
  color: #fff;
  font-family: Playfair Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: -40px;
}
.descr-info {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 508px;
}
.buy-btn {
  width: 254px;
  height: 67px;
  border-radius: 10px;
  background: #8e32c6;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}
.initials_nike {
  color: #fff;
  font-family: PT Serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 20px;
  bottom: -19px;
  margin: 0;
}
