.header {
  background: #012d63;
  padding: 16px 0 17px 0;
  height: 93px;
}
.menu .main_page {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_list {
  color: #c7c7c7;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 29px;
}
.header_menu {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header_list {
  padding: 0;
  margin: 0;
}
.logo {
  width: 100px;
  height: 60px;
  flex-shrink: 0;
}
.menu_link {
  width: 86px;
  height: 30px;
  flex-shrink: 0;
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-menu {
  display: flex;
  gap: 72px;
  align-items: center;
}
.header_languange_link {
  color: #c7c7c7;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.languange_nav_menu {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hamburger {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  right: 10px;
}
.hamburger span {
  display: none;
  border-radius: 1px;
  background: #8e32c6;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: 0.5s;
}
.hamburger span:nth-child(1) {
  width: 45px;
  height: 5px;
}
.hamburger span:nth-child(2) {
  width: 33px;
  height: 5px;
}
.hamburger span:nth-child(3) {
  width: 18px;
  height: 5px;
}
